*{
    margin: 0;
    padding: 0;
}
.a{
    height: 40px;
    width: 100%;
    background-color: rgb(3, 39, 61);
}
#a1{
    text-align: center;
    color: white;
    animation-name: childanimation;
    animation-duration: 15s;
    position: absolute;
    animation-timing-function:ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes childanimation {
    /* from{ background-color: aquamarine;}
    to{background-color: orangered;} */
    0%{top: 0;left: 0;}
    /* 10%{left: 130px;}
    20%{top: 0;left: 230px;}
    30%{top: 0;left: 330px;}
    40%{top: 0;left: 430px;}
    50%{top: 0;left: 530px;}
    60%{top: 0;left: 630px;}
    70%{top: 0;left: 730px;} */
    80%{top: 0;left: 830px;}
    90%{ color:rgb(3, 39, 61);top: 0;left: 930px;}
    100%{ color:rgb(3, 39, 61);top: 0;left: 1350px;}
}

@media screen and (min-width:768px) and (max-width:998px){
    .a{
        height: 40px;
        width: 100%;
        background-color: rgb(66, 88, 8);
    }
    #a1{
        text-align: center;
        color: white;
        font-size: 90%;
    }
}
@media screen and (min-width:200px) and (max-width:768px){
    .a{
        height: 30px;
        width: 100%;
        background-color: rgb(58, 5, 50);
    }
    #a1{
        text-align: center;
        color: white;
        font-size: 50%;
    }
}
.b{
    height: 60px;
    width: 100%;
    background-color: rgb(17, 17, 16);
}

.b2{
    position: absolute;
    left: 57%;
    color: rgb(253, 253, 253);
}
.b3{
    position: absolute;
    left: 67%;
    color: rgb(255, 255, 255);
}
.b4{
    position: absolute;
    left: 77%;
    color: rgb(255, 255, 255);
}
.b4 img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.b5{
    position: absolute;
    left: 85%; 
}
.b6{
    position: absolute;
    left: 90%; 
}
.b7{
    position: absolute;
    left: 
    95%;
}
.b7 img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}
@media screen and (min-width:768px) and (max-width:998px){
 
    .b2{
        position: absolute;
        left: 37%;
        color: rgb(253, 253, 253);
    }
    .b3{
        position: absolute;
        left: 52%;
        color: rgb(255, 255, 255);
    }
    .b4{
        position: absolute;
        left: 70%;
        color: rgb(255, 255, 255);
    }
    .b4 img{
        height: 40px;
        width: 40px;
        object-fit: cover;
    }
    .b5{
        position: absolute;
        left: 82%; 
    }
    .b6{
        position: absolute;
        left: 88%; 
    }
    .b7{
        position: absolute;
        left: 95%;
        top: 8%;
    }
    .b7 img{
        height: 40px;
        width: 40px;
        object-fit: cover;
    }
}
@media screen and (min-width:200px) and (max-width:768px){
    

.b{
    height: 40px;
    width: 100%;
    background-color: rgb(17, 17, 16);
}

.b2{
    position: absolute;
    left: 45%;
    color: rgb(253, 253, 253);
}
.b2 img{
    height: 30px;
    width: 30px;
    object-fit: cover;
}
.b3{
    position: absolute;
    left: 58%;
    color: rgb(255, 255, 255);
}
.b3 img{
    height: 30px;
    width: 30px;
    object-fit: cover;
}
.b4{
    position: absolute;
    left: 74%;
    color: rgb(255, 255, 255);
}
.b4 img{
    height: 30px;
    width: 30px;
    object-fit: cover;
}
.b5{
    position: absolute;
    left: 85%; 
}
.b5 img{
    height: 30px;
    width: 30px;
    object-fit: cover;
}
.b6{
    position: absolute;
    left: 90%; 
}
.b6 img{
    height: 30px;
    width: 30px;
    object-fit: cover;
}
.b7{
    position: absolute;
    left: 
    95%;
}
.b7 img{
    height: 30px;
    width: 30px;
    object-fit: cover;
}
}
.c{
    height: 80px;
    width: 100%;
    background-color: rgb(252, 252, 252);
    position: sticky;
    
}
.c1{
    height: 70px;
    width: 150px;
}
.c1 img{
    height: 70px;
    width: 200px;
    object-fit: cover;
    
}
.c2{
    
    position: absolute;
    left: 20%;
    font-size: 120%;
    top: 18%;
}
.c3{
    position: absolute;
    left: 28%;
    font-size: 120%;
    top: 18%;
}
.c4{
    position: absolute;
    left: 39%;
    font-size: 120%;
    top: 18%;
}
.c5{
    position: absolute;
    left: 50%;
    font-size: 120%;
    top: 18%;
}
.c6{
    position: absolute;
    left: 62%;
    font-size: 120%;
    top: 18%;
}
.c7{
    position: absolute;
    left: 70%;
    font-size: 120%;
    color: red;
    top: 18%;
}
.c8{
    position: absolute;
    left: 75%;
    font-size: 120%;
    color: red;
    top: 18%;
}
@media screen and (min-width:768px) and (max-width:998px){
    .c{
        height: 50px;
        width: 100%;
        background-color: rgb(47, 83, 22);
        position: sticky;
    }
    .c1{
        height: 70px;
        width: 150px;
    }
    .c1 img{
        height: 40px;
        width: 150px;
        object-fit: cover;
        
    }
    .c2{
        position: absolute;
        left: 20%;
        font-size: 90%;
        top: 18%;
    }
    .c3{
        position: absolute;
        left: 28%;
        font-size: 90%;
        top: 18%;
    }
    .c4{
        position: absolute;
        left: 39%;
        font-size: 90%;
        top: 18%;
    }
    .c5{
        position: absolute;
        left: 50%;
        font-size: 90%;
        top: 18%;
    }
    .c6{
        position: absolute;
        left: 62%;
        font-size: 90%;
        top: 18%;
    }
    .c7{
        position: absolute;
        left: 70%;
        font-size: 90%;
        color: red;
        top: 18%;
    }
    .c8{
        position: absolute;
        left: 75%;
        font-size: 90%;
        color: red;
        height: 30px;
        width: 100px; ;
        top: 18%;
    }

}
@media screen and (min-width:200px) and (max-width:768px){
    .c{
        height: 50px;
        width: 100%;
        background-color: rgb(209, 196, 12);
        position: sticky;
    }
    .c1{
        height: 70px;
        width: 100px;
    }
    .c1 img{
        height: 30px;
        width: 100px;
        object-fit: cover;
        
    }
    .c2{
        position: absolute;
        left: 20%;
        top: 18%;
        font-size: 50%;
        top: 18%;
    }
    .c3{
        position: absolute;
        left: 28%;
        top: 18%;
        font-size: 50%;
        top: 18%;
    }
    .c4{
        position: absolute;
        left: 39%;
        top: 18%;
        font-size: 50%;
        top: 18%;
    }
    .c5{
        position: absolute;
        left: 50%;
        top: 18%;
        font-size: 50%;
        top: 18%;
    }
    .c6{
        position: absolute;
        left: 62%;
        top: 18%;
        font-size: 50%;
        top: 18%;
    }
    .c7{
        position: absolute;
        left: 70%;
        top: 18%;
        font-size: 50%;
        color: red;
        top: 18%;
    }
    .c8{
        position: absolute;
        left: 75%;
        top: 16.5%;
        font-size: 50%;
        color: red;
        height: 30px;
        width: 100px; ;
        
    }

}

.E{
    height: 300px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.E1{
    position:absolute;
    left: 2.5%;
    top: 15%;
}
#E11{
    position: absolute;
    left: 15%;
    color: rgb(28, 88, 145);
    top: 100%;
    font-size: 130%;
}
.E2{
    position:absolute;
    left: 18%;
    top: 15%;
}
#E21{
    position: absolute;
    left: 35%;
    color: rgb(28, 88, 145);
    top: 100%;
    font-size: 130%;
}
.E3{
    position:absolute;
    left: 34%;
    top: 15%;
}
.E4{
    position:absolute;
    left: 50%;
    top: 15%;
}
.E5{
    position:absolute;
    left: 66%;
    top: 15%;
}
.E6{
    position:absolute;
    left: 82%;
    top: 15%;
}
#E61{
    position: absolute;
    left: 25%;
    color: rgb(28, 88, 145);
    top: 100%;
    font-size: 130%;
}
@media screen and (min-width:768px) and (max-width:998px){
    .E{
        height: 200px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        position: relative;
       
    }
    .E1{
        position:absolute;
        left: 1%;
        top: 15%;
    }
    .E1 img{
        height: 120px;
        width: 120px;
        object-fit: cover;
    }
    #E11{
        position: absolute;
        left: 5%;
        color: rgb(28, 88, 145);
        top: 100%;
        font-size: 100%;
    }
    .E2{
        position:absolute;
        left: 18%;
        top: 15%;
    }
    .E2 img{
        height: 120px;
        width: 120px;
        object-fit: cover;
    }
    #E21{
        position: absolute;
        left: 35%;
        color: rgb(28, 88, 145);
        top: 100%;
        font-size: 100%;
    }
    .E3{
        position:absolute;
        left: 34%;
        top: 15%;
    }
    .E3 img{
        height: 120px;
        width: 120px;
        object-fit: cover;
    }
    .E4{
        position:absolute;
        left: 50%;
        top: 15%;
    }
    .E4 img{
        height: 120px;
        width: 120px;
        object-fit: cover;
    }
    .E5{
        position:absolute;
        left: 66%;
        top: 15%;
    }
    .E5 img{
        height: 120px;
        width: 120px;
        object-fit: cover;
    }
    .E6{
        position:absolute;
        left: 82%;
        top: 15%;
    }
    .E6 img{
        height: 120px;
        width: 120px;
        object-fit: cover;
    }
    #E61{
        position: absolute;
        left: 25%;
        color: rgb(28, 88, 145);
        top: 100%;
        font-size: 100%;
    }
}
@media screen and (min-width:200px) and (max-width:768px){
    .E{
        height: 110px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        position: relative;
       
    }
    .E1{
        position:absolute;
        left: 1%;
        top: 15%;
    }
    .E1 img{
        height: 60px;
        width: 60px;
        object-fit: cover;
    }
    #E11{
        position: absolute;
        left: 5%;
        color: rgb(28, 88, 145);
        top: 100%;
        font-size: 70%;
    }
    .E2{
        position:absolute;
        left: 18%;
        top: 15%;
    }
    .E2 img{
        height: 60px;
        width: 60px;
        object-fit: cover;
    }
    #E21{
        position: absolute;
        left: 35%;
        color: rgb(28, 88, 145);
        top: 100%;
        font-size: 70%;
    }
    .E3{
        position:absolute;
        left: 34%;
        top: 15%;
    }
    .E3 img{
        height: 60px;
        width: 60px;
        object-fit: cover;
    }
    .E4{
        position:absolute;
        left: 50%;
        top: 15%;
    }
    .E4 img{
        height: 60px;
        width: 60px;
        object-fit: cover;
    }
    .E5{
        position:absolute;
        left: 66%;
        top: 15%;
    }
    .E5 img{
        height: 60px;
        width: 60px;
        object-fit: cover;
    }
    .E6{
        position:absolute;
        left: 82%;
        top: 15%;
    }
    .E6 img{
        height: 60px;
        width: 60px;
        object-fit: cover;
    }
    #E61{
        position: absolute;
        left: 25%;
        color: rgb(28, 88, 145);
        top: 100%;
        font-size: 70%;
    }
}
.F{
    height: 201px;
    width: 100%;
    background-color: blueviolet;
}
.F img{
    height: 201px;
    width: 100%;
    background-color: blueviolet;
    object-fit: cover;
}
@media screen and (min-width:768px) and (max-width:998px){
    .F{
        height: 110px;
        width: 100%;
        background-color: blueviolet;
    } 
    .F img{
        height: 110px;
        width: 100%;
        background-color: blueviolet;
        object-fit: cover;
    }
}
@media screen and (min-width:200px) and (max-width:768px){
    .F{
        height: 70px;
        width: 100%;
        background-color: blueviolet;
    } 
    .F img{
        height: 70px;
        width: 100%;
        
        object-fit: cover;
    }
}
.G{
    height: 100px;
    width: 100%;
    
}
.G img{
    height: 100px;
    width: 100%;
    object-fit: cover;
}
@media screen and (min-width:768px) and (max-width:998px){
    .G{
        height: 70px;
        width: 100%;
        
    }
    .G img{
        height: 70px;
        width: 100%;
        object-fit: cover;
    }
}
@media screen and (min-width:200px) and (max-width:768px){
    .G{
        height: 40px;
        width: 100%;
        
    }
    .G img{
        height: 40px;
        width: 100%;
        object-fit: cover;
    }
}
.H{
    height: 250px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
}
#H1{
    font-size: 200%;
    color: rgb(64, 7, 117);
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 28%;
}
#H2{
    position: absolute;
    font-size: 110%;
    text-align: center;
    top: 55%;
    left: 32%;
    color: rgb(64, 7, 117);
} 
@media screen and (min-width:768px) and (max-width:998px){
    .H{
        height: 200px;
        width: 100%;
        background-color: rgb(0, 255, 60);
        position: relative;
    }
    #H1{
        font-size: 150%;
        color: blueviolet;
        font-weight: 700;
        text-align: center;
        position: absolute;
        top: 20%;
        left: 15%;
    }
    #H2{
        position: absolute;
        font-size: 80%;
        text-align: center;
        top: 40%;
        left: 21%;
    } 
}
@media screen and (min-width:200px) and (max-width:768px){
    .H{
        height: 100px;
        width: 100%;
        background-color: rgb(255, 0, 140);
        position: relative;
    }
    #H1{
        font-size: 100%;
        color: blueviolet;
        font-weight: 700;
        text-align: center;
        position: absolute;
        top: 20%;
        left: 15%;
    }
    #H2{
        position: absolute;
        font-size: 46%;
        text-align: center;
        top: 50%;
        left: 26%;
    } 
}
/* .I{
    height: 400PX;
    width: 100%;
    background-color: aquamarine;
    position: relative;
    overflow-x: scroll;

}
.J{
    height: 400PX;
    width: 100%;
    background-color: rgb(153, 211, 16);
    position: relative;

} */